# Ignore the newenv folder in the main directory
newenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
*.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# VSCode settings (optional)
.vscode/

# PyCharm settings (optional)
.idea/

rough.py

__pycache__/
*.pyc